#p1{
    margin-left: 20px;
    font-size: 25px;
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

#p2{
    margin-left: 20px;
    font-size: 25px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}